<h1>Listing hotwings</h1>

<table>
  <thead>
    <tr>
      <th>Sauce</th>
      <th>Heat index</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hotwings.each do |hotwing| %>
      <tr>
        <td><%= hotwing.sauce %></td>
        <td><%= hotwing.heat_index %></td>
        <td><%= link_to 'Show', hotwing %></td>
        <td><%= link_to 'Edit', edit_hotwing_path(hotwing) %></td>
        <td><%= link_to 'Destroy', hotwing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hotwing', new_hotwing_path %>
